<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<div layout:fragment="content" class="text-center">
	<div class="col-12">
		<div class="row" >
			<div class="top">
				<div>
					<span th:text="${detail.boardTitle}"></span>
				</div>
				<div>
					<span style="display: inline-block;" th:text="${detail.userId}"></span>
				</div>
				<div>
					<span th:text="${detail.boardRegDate}"></span>
				</div>
			</div>
			<div class="content" style="padding: 10">
				<span style="width: 100" th:text="${detail.boardContent}"></span>
			</div>
		</div>
		<div>
			<div class="row"><!--댓글목록  -->
				<table class="table table-bordered">
					<th:block th:each="reply :${reply}">
						<tr>
							<td>작성자</td>
							<td th:text="${reply.userId}"></td>
						</tr>
						<tr>
							<td>작성일</td>
							<td th:text="${reply.replyRegDate}"></td>
						</tr>
						<tr>
							<td th:text="${reply.replyContent}"></td>
						</tr>
					</th:block>
				</table>
			</div>
			<div class="row">
				<form th:action="@{/board/regReply}" method="post" th:object="${replyVO}">
					<div>
						<label for="writer">댓글작성자</label>
							<div th:text="${#authentication.name}"></div>
						<label for="content">댓글 내용</label>
						<input type="text" th:field="*{replyContent}">
					</div>
					<div>
						<button type="submit" class="replyWriteBtn">등록</button>
					</div>
				</form>
			</div>
		</div>	
		<div class="row justify-content-center">
			<button class="btn btn_primary" type="button" th:onclick="|location.href='@{/board/boardList}'|">
			뒤로가기
			</button>
			<button class="btn btn_primary" type="button" th:onclick="|location.href='@{/board/updateBoardForm(boardNum=${detail.boardNum})}'|">
			글수정
			</button>
			<button class="btn btn_primary" type="button" th:onclick="|location.href='@{/board/deleteBoard(boardNum=${detail.boardNum})}'|">
			글삭제
			</button> 
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/js/board/reply.js}"></script>
</div>


</html>