<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<div layout:fragment="content">
	<!-- 모든 내용이 들어오는 영역 -->
	<div class="row justify-content-center">
		<div class="col-8">
			<!-- 게시글 상세 정보 영역 -->
			<div class="row">
				<div class="col-2 mb-3 mt-3">
					글 제목
				</div>
				<div class="col-10 mb-3 mt-3">
					<span th:text="${detail.boardTitle}"></span>
				</div>
				<div class="col-2 mb-3 mt-3">
					작성자
				</div>
				<div class="col-10 mb-3 mt-3">
					<span th:text="${detail.userId}"></span>
				</div>
				<div class="col-2 mb-3 mt-3">
					등록일
				</div>
				<div class="col-10 mb-3 mt-3">
					<span th:text="${detail.boardRegDate}"></span>
				</div>
				<div class="col-2 mb-3 mt-3">
					조회수
				</div>
				<div class="col-10 mb-3 mt-3">
					<span th:text="${detail.boardReadCnt}"></span>
				</div>
				<div class="col-2 mb-3 mt-3">
					내 용
				</div>
				<div class="col-10 mb-3 mt-3">
					<span th:text="${detail.boardContent}"></span>
				</div>
			</div>

			<!-- 버튼 영역 -->
			<div class="row text-end mb-3 mt-3">
				<div class="col-12">
						<!-- 게시글 좋아요 버튼 -->
					<a th:href="@{/board/insertLike}">
						<!-- <th:block th:if="${detail.userId eq}"> -->
							<img src="/imgs/board/좋아요하트.png" height="30" width="30">
						<!-- </th:block> -->
						<!-- <th:block th:unless="${detail.userId eq}">
							<img src="/imgs/board/좋아요하트.png">
						</th:block> -->
					</a>
					<button class="btn btn-primary" type="button" th:onclick="|location.href='@{/board/boardList}'|">
						뒤로가기
					</button>
					<button class="btn btn-primary" type="button" th:onclick="|location.href='@{/board/updateBoardForm(boardNum=${detail.boardNum})}'|">
						글수정
					</button>
					<button class="btn btn-primary" type="button" th:onclick="|location.href='@{/board/deleteBoard(boardNum=${detail.boardNum})}'|">
						글삭제
					</button> 
				</div>
			</div>
			
			<div style="height: 20px;"></div>
			
			<!-- 댓글 등록 영역 -->
			<div class="row mb-3 mt-3" style="width: 80%;">
				<div class="col">
					<form th:action="@{/board/regReply}" method="post" th:object="${replyVO}">
						<input type="hidden" name="boardNum" th:value="${detail.boardNum}">
						<div class="row">
							<div class="col-10">
								<textarea class="form-control" th:field="*{replyContent}" rows="3" style="resize: none;"></textarea>
							</div>
							<div class="col-2">
								<button type="submit" class="btn btn-primary replyWriteBtn" style="width: 100%; height: 100%;">댓글등록</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			
			<!-- 댓글 목록 영역 -->
			<div class="row mb-3 mt-3" style="width: 80%;">
				<div class="col">
					<th:block th:each="reply :${reply}">
						<div class="col-12">
							<span th:text="${reply.userId}" style="font-weight: bold;"></span>
						</div>
						<div class="col-12">
							<span th:text="${reply.replyContent}"></span>
						</div>
						<div class="col-12 mb-3">
							<span th:text="${reply.replyRegDate}" style="color:#a7a7a7;"></span>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</div>

	
	<script type="text/javascript" th:src="@{/js/board/like.js}"></script>
</div>


</html>