<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fregment="css">
	<link href="/css/layout/common.css" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<div class="row justify-content-center">
		<div class="col-8" style="border:3px solid #ebecef;  border-radius:3%;">
			<form th:action="@{/board/updateBoard}" method="post" th:object="${update}">
				<div class="mb-3">
					<label for="formGroupExampleInput" class="form-label">카테고리</label> 
					<input type="text" class="form-control" id="formGroupExampleInput" th:field="*{boardCateName}" readonly> 
					
					<label for="formGroupExampleInput" class="form-label">글번호</label> 
					<input type="text" class="form-control" id="formGroupExampleInput" th:field="*{boardNum}" readonly> 
					
					<label for="formGroupExampleInput" class="form-label">제목</label> 
					<input type="text" class="form-control" id="formGroupExampleInput"th:field="*{boardTitle}"> 
					
					<label for="formGroupExampleInput" class="form-label">작성일</label> 
					<input type="text" class="form-control" id="formGroupExampleInput" th:field="*{boardRegDate}" readonly> 
					
					<label for="formGroupExampleInput" class="form-label">작성자</label> 
					<input type="text" class="form-control" id="formGroupExampleInput" th:field="*{empName}" readonly>
				</div>

				<label for="formGroupExampleInput" class="form-label">내용</label>
				<div class="form-floating">
					<textarea class="form-control" id="formGroupExampleInput" style="height: 300px; resize: none;" th:field="*{boardContent}" >
					</textarea>
				</div>
				<div class="row mt-3 mb-3">
					<div class="col text-center">
						<button type="button" class="btn btn-secondary" th:onclick="|location.href = '@{/board/boardDetail(boardNum=${update.boardNum})}'|">뒤로가기</button>
						<button type="submit" class="btn btn-secondary">수정하기</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</html>