<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">


<div layout:fragment="content">
	<div class="row">
		<div class="col-12">
			<table class="table table-bordered">
			
				<colgroup>
					<col width="10%">
					<col width="50%">
					<col width="20%">
					<col width="20%">
				</colgroup>
				<thead>
					<tr>
						<th>글번호</th>
						<th>글제목</th>
						<th>작성자</th>
						<th>작성일</th>
						<!-- <th>조회수</th> -->
					</tr>
				</thead>
				<tbody>
					<th:block th:each="board : ${list}">
						<tr>
							<td th:text="${board.boardNum}"></td>
							<td>
								<a th:href="@{/board/boardDetail(boardNum=${board.boardNum})}">
									<span th:text="${board.boardTitle}">
									</span>
									&nbsp; 
									
										<th:block th:if="${board.replyCount ne 0}">
											<span style="color: #f56642;">[</span> 
											<span style="color: #f56642;" th:text="${board.replyCount}"></span>
											<span style="color: #f56642;">]</span> 
										</th:block>
										<th:block th:unless="${board.replyCount ne 0}" >
											
										</th:block>
								</a>
							</td>
							<td th:text="${board.userId}"></td>
							<td th:text="${board.boardRegDate}"></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-2">
				<button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/board/regBoardForm}'|">글쓰기</button>
			</div>
		</div> 
	</div>
</div>

</html>