<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorate="~{layout/base_layout}">


	<th:block layout:fragment="content">
	
                <!-- Begin Page Content -->
                <div class="container-fluid" >
                

                    <!-- Content Row -->
                    <div class="row">
                    
                    
                    		<!-- 내정보 -->
                			<div class="col-xl-3" >
	                            <div class="card shadow mb-4">
	                            	
	                               
	                                <div class="card-body" align="center">
			   							 <div class="box" style="background: #BDBDBD;">
										     <img class="profile" id="empImg" alt="" th:src="|/imgs/user/${userInfo.empPictureRefileName}|" style="width: 100%; height: 100%;"> 
										 </div>
										 <div class="m-2">
										 	<span th:text="${userInfo.empName}"></span>
										 	<span th:text="${userInfo.empPosition}"></span>
										 </div>
										 
										 <div class="row">
										 	<div class="col text-left m-1">
										 		부서
										 	</div>
										 	<div class="col right m-1">
										 		<span th:text="${userInfo.deptName}"></span>
										 	</div>
										 </div>
										 
										 <div class="row">
										 	<div class="col text-left m-1">
										 		결재 받을 문서
										 	</div>
										 	<div class="col right m-1">
										 		<span th:text="${documentsFromBeApprov.size}"></span>
										 		개
										 	</div>
										 </div>
										 
										 <div class="row">
										 	<div class="col text-left m-1">
										 		결재 할 문서
										 	</div>
										 	<div class="col right m-1">
										 		<span th:text="${documentsToBeApproved.size}"></span>
										 		개
										 	</div>
										 </div>
										 
	                                </div>
	                            </div>
                			</div>
                			
                			<!-- 사진영역 -->
                			<div class="col-xl-9">
	                            <div class="card shadow mb-4">
	                               
	                                <div class="card-body" align="center">
			   							<div class="row ">
			   								<div class="col">
			   									<div class="short-div m-1 MI">
			   								    	<img id="empImg" alt="" th:src="|/imgs/common/architecture-gc0cb6bcc0_1920.jpg|" style="width: 100%; height: 20rem;"> 
			   									</div>
			   								</div>
			   							
			   								<div class="col" >
			   									<div class="short-div m-1 MI">
			   										<img alt="" th:src="|/imgs/common/germany-gef5bf0f14_1920.jpg|" style="width: 100%; height: 10rem;">
			   									</div>
			   									<div class="short-div m-1 MI">
			   										<img alt="" th:src="|/imgs/common/building-g90c5d99c8_1920.jpg|" style="width: 100%; height: 10rem;"> 
			   									</div>
			   								</div>
			   							
			   								<div class="col">
			   									<div class="short-div m-1 MI">
			   										<img alt="" th:src="|/imgs/common/lion-cathedral-gb36dcabd1_1920.jpg|" style="width: 100%; height: 10rem;">
			   									</div>
			   									<div class="short-div m-1 MI">
			   										<img alt="" th:src="|/imgs/common/town-g17e6c5df3_1920.jpg|" style="width: 100%; height: 10rem;">
			   									</div>
			   								</div>
			   							
			   							</div>
	                                </div>
	                            </div>
                			</div>
                			
                			
                	
                            
                            <!-- 게시판 최근글 -->
                            <div class="col-xl-4">
	                            <div class="card border-left-success shadow mb-4 scroll2" style="height: 300px;">
	                                <div class="card-header py-3">
	                                    <h6 class="m-0 font-weight-bold text-primary">최근글</h6>
	                                </div>
	                                <div class="card-body">
	                                    <table class="table table-striped table-hover" style="height: 10px;">
			
											<colgroup>
												<col width="5%">
												<col width="55%">
												<col width="20%">
												<col width="20%">
											</colgroup>
											<thead>
												<tr>
													<th>NO</th>
													<th>글제목</th>
													<th>작성자</th>
													<th>작성일</th>
													<!-- <th>조회수</th> -->
												</tr>
											</thead>
											<tbody >
												<th:block th:each="board : ${recentBoard}">
													<tr>
														<td th:text="${board.boardNum}"></td>
														<td>
															<a th:href="@{/board/boardDetail(boardNum=${board.boardNum})}">
																<span th:text="${board.boardTitle}">
																</span>
																&nbsp; 
															</a>
														</td>
														<td th:text="${board.userId}"></td>
														<td th:text="${board.boardRegDate}" ></td>
													</tr>
													
													
												</th:block>
											</tbody>
										</table>
	                                </div>
	                            </div>
	                        </div>
                    
                    		



						<!-- 게시판 최근글 -->
                            <div class="col-xl-4">
	                            <div class="card border-left-success shadow mb-4 scroll2" style="height: 300px;">
	                                <div class="card-header py-3">
	                                    <h6 class="m-0 font-weight-bold text-primary">공지사항</h6>
	                                </div>
	                                <div class="card-body">
	                                
	                                 <table class="table table-striped table-hover" style="height: 10px;">
											<colgroup>
												<col width="5%">
												<col width="55%">
												<col width="20%">
												<col width="20%">
											</colgroup>
											<thead>
												<tr>
													<th>NO</th>
													<th>글제목</th>
													<th>작성자</th>
													<th>작성일</th>
													<!-- <th>조회수</th> -->
												</tr>
											</thead>
											<tbody >
												<th:block th:each="notice : ${noticeBoard}">
													<tr>
														<td th:text="${noticeboardNum}"></td>
														<td>
															<a th:href="@{/board/boardDetail(boardNum=${notice.boardNum})}">
																<span th:text="${notice.boardTitle}">
																</span>
																&nbsp; 
															</a>
														</td>
														<td th:text="${notice.userId}"></td>
														<td th:text="${noticeboardRegDate}" ></td>
													</tr>
													
													
												</th:block>
											</tbody>
										</table>
	                                </div>
	                            </div>
	                        </div>
                      
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4" >
                            <div class="card border-left-success shadow py-2 scroll2" >
                            	<div class="card-header py-3">
	                                    <h6 class="m-0 font-weight-bold text-primary">채팅방</h6>
	                            </div>
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div>
                                            	<table class="table table-striped" style=" width: 350px; height: 160px;" >
													<colgroup>
														<col width="40%">
														<col width="60%">
													</colgroup>
													<tr>
														<td>NO</td>
														<td>채팅방이름</td>
<!-- 														<td>최근채팅시간</td> -->
													</tr>
													<tr th:each="chatRoom : ${chatRoomList}">
														<td th:text="${chatRoomStat.count}"></td>
<!-- 														<td><a th:href="|/chat/chat_room?roomName=${chatRoom.roomName}&roomId=${chatRoom.roomId}|">[[${chatRoom.roomName}]]</a></td> -->
														<td>
															<a th:onclick="openWindow([[${chatRoom.roomName}]],[[${chatRoom.roomId}]])" style="cursor:hand;">[[${chatRoom.roomName}]]</a>
														</td>
													</tr>
												</table>
                                            	<script type="text/javascript">
                                            		function openWindow(roomName,roomId){
                                            			window.open('/chat/chat_room2?roomName' + roomName + "&roomId="+roomId , 'exobud','width=500px, height=700px, resizable=yes');
                                            		}
                                            	
                                            	</script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        <!-- 결재할문서 -->
                			<div class="col-xl-6" >
	                            <div class="card border-left-success shadow mb-4" style="height: 300px;" id="scroll">
	                            	<div class="card-header py-3">
	                                    <h6 class="m-0 font-weight-bold text-primary">결재 받을 문서</h6>
	                                </div>
	                               
	                                <div class="card-body" align="center">
			   							 <table class="table">
											<thead>
												<tr bordercolor="sold 1px;">
												<th scope="col">문서번호</th>
													<th scope="col">기안자</th>
													<th scope="col">제목</th>
													<th scope="col">기안서</th>
													<th scope="col">기안부서</th>
													<th scope="col">기안일</th>
												</tr>
											</thead>
											<tbody id="appList">
												<tr  th:each="appFrom : ${documentsFromBeApprov}" th:onclick="requestApproval([[${appFrom.appSeq}]],[[${appFrom.appCateCode}]]);">
													<td th:text="${appFrom.appSeq}">@mdo</td>
													<td th:text="${appFrom.empVO.empName}">@mdo</td>
													<td th:text="${appFrom.title}">Otto</td>
													<td th:text="${appFrom.appCategoryVO.appCateName}">Otto</td>
													<td th:text="${appFrom.empVO.deptName}">Otto</td>
													<td th:text="${appFrom.appWriteDate}">Mark</td>
												</tr>
											</tbody>
										</table>
	                                </div>
	                            </div>
                			</div>
                        
                        
                        
                        <!-- 결재받을문서 -->
                			<div class="col-xl-6" >
	                            <div class="card border-left-success shadow mb-4" style="height: 300px;" id="scroll">
	                            	<div class="card-header py-3">
	                                    <h6 class="m-0 font-weight-bold text-primary">결재할 문서</h6>
	                                </div>
	                                <div class="card-body" align="center">
			   							 <table class="table">
											<thead>
												<tr bordercolor="sold 1px;">
												<th scope="col">문서번호</th>
													<th scope="col">기안자</th>
													<th scope="col">제목</th>
													<th scope="col">기안서</th>
													<th scope="col">기안부서</th>
													<th scope="col">기안일</th>
												</tr>
											</thead>
											<tbody id="appList">
												<tr  th:each="app : ${documentsToBeApproved}" th:onclick="requestApproval([[${app.appSeq}]],[[${app.appCateCode}]]);">
													<td th:text="${app.appSeq}">@mdo</td>
													<td th:text="${app.empVO.empName}">@mdo</td>
													<td th:text="${app.title}">Otto</td>
													<td th:text="${app.appCategoryVO.appCateName}">Otto</td>
													<td th:text="${app.empVO.deptName}">Otto</td>
													<td th:text="${app.appWriteDate}">Mark</td>
												</tr>
											</tbody>
										</table>
			   							 
			   							 <script type="text/javascript">
			   							 
											function requestApproval(appSeq, appCateCode) {
													location.href='/approval/appDocuments?appSeq=' + appSeq + '&appCateCode=' + appCateCode;
											}
			   							 </script>
	                                </div>
	                            </div>
                			</div>

    
         
                    </div>
                </div>
				
				
				
	<link rel="stylesheet" type="text/css" href="/css/main/mainPage.css">			
	<!-- Bootstrap core JavaScript-->
    <script src="/test/vendor/jquery/jquery.min.js"></script>
    <script src="/testvendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/test/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/test/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/test/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/test/js/demo/chart-area-demo.js"></script>
    <script src="/testjs/demo/chart-pie-demo.js"></script>
				
				
	</th:block>
</html>