<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="alarmMapper">
	<resultMap type="kh.study.intranet.alarm.vo.AlarmVO" id="alarm">
		<id column="ALARM_STATUS"     			property="alarmStatus"/>
		<result column="USER_ID" 		property="userId"/>
		<result column="APP_SEQ" 			property="appSeq"/>
		<result column="TO_USER_ID" 			property="toUserId"/>
	</resultMap>

	
	
	
	<!-- 전체알람 업데이트 -->
	<update id="updateEmpAlarm">
		UPDATE EMP
		SET ALARM_ALL = #{alarmAll}
		WHERE EMP_NUM = #{empNum}
	</update>
	
	<select id="selectEmpAlarm" resultMap="empMapper.emp">
		SELECT ALARM_ALL
		FROM EMP
		WHERE USER_ID = #{userId}
	</select>
	<!-- 결제시 알람 인설트 -->
	<insert id="insertAlarm">
		INSERT INTO ALARM(
				USER_ID
				, APP_SEQ
				, TO_USER_ID
			)VALUES(
				#{userId}
				, #{appSeq}
				, (SELECT USER_ID FROM EMP WHERE EMP_NUM = #{toUserId})
			)
	</insert>
	
	<!-- 알람 조회 -->
	<select id="selectAlarm" resultMap="alarm">
		SELECT ALARM_STATUS
			, ALARM.USER_ID
			, ALARM.APP_SEQ
			, ALARM.TO_USER_ID
		FROM ALARM
		WHERE ALARM.TO_USER_ID = #{userId}
		AND ALARM_STATUS = 'N'
	</select>
	
	<update id="updateAlarm">
		UPDATE ALARM
		SET
		ALARM_STATUS = 'Y'
		WHERE APP_SEQ = #{appSeq}
	
	</update>
	
	
	
	
</mapper>

