<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{}">
</th:block>	

<div layout:fragment="content">
				<h1>
					<a href="#">주소록 수정</a>
				</h1>
<form th:action="@{/address/updateAddressForm}" method="post">
<table class="form_type">
				<colgroup>
					<col width="150px">
					<col width="*">
				</colgroup>
				<tbody>
				<tr>
					<th><span class="title">이름</span></th>
					<td>
						<span class="txt_edit">
							<input th:value="${book.empName}" name="empName" class="input wfix_large" type="text" style="margin-bottom: 10px;" >
						</span>
					</td>
				</tr>
				
				
				<tr>
					<th><span class="title">직위</span>
					</th>
					<td><span class="txt_edit"><input th:value="${book.empPosition}"   name="empPosition" class="input wfix_large" type="text" style="margin-bottom: 10px;"></span></td>
				</tr>
				<tr>
					<th><span class="title">휴대폰</span>
					</th>
					<td><span class="txt_edit"><input th:value="${book.empTell}"   name="empTell" class="input wfix_large" type="text" style="margin-bottom: 10px;"></span></td>
				</tr>
				<tr>
					<th><span class="title">이메일</span>
					</th>
						<td><span class="txt_edit"><input th:value="${book.empEmail}"  name="empEmail" class="input wfix_large" type="text" style="margin-bottom: 10px;"></span></td>
				</tr>
				<tr>
					<th><span class="title">부서</span>
					</th>
					<td><span class="txt_edit"><input th:value="${book.deptName}"  name="deptName" class="input wfix_large" type="text" style="margin-bottom: 10px;"></span></td>
				</tr>
				
				<tr>
					<th>
                        <span class="title">주소</span>
                       
					</th>
						<td>
							<span class="txt_edit"><input th:value="${book.empAddr}"  name="empAddr" class="input wfix_large" type="text" style="margin-bottom: 10px;"></span>
							
						</td>
				</tr>
				
				<!-- <tr>
					<th><span class="title">메모</span></th>
					
					<td>
						<span class="textarea">
							<textarea name="" class="edit w_max" style="margin-bottom: 10px;"></textarea>									
						</span>
					</td>
				</tr> -->
			<!-- 	<tr class="line">
					<th><span class="title">그룹</span></th>
					<td>
						<ul id="groupNameTag" class="name_tag">
							<li data-id="183">
								<input type="hidden" name="groupId" value="183">
									<span class="name">11</span><span class="btn_wrap"><span class="ic_classic ic_del" title="삭제"></span></span>
							</li>
							<li class="creat" id="groupCreate">
									<span class="btn_wrap"><span class="ic_form ic_addlist"></span><span class="txt">그룹추가</span></span>
							</li>
						</ul>																		
					</td>
				</tr> -->
				<!--  hidden  -->
				<!--  hidden  -->
				
				
									
				</tbody>
			</table>
	<div style="margin-top: 30px;" id="inputDiv">
		<input type="submit" value="수정" class="btn btn-info">
		<input type="button" value="취소" class="btn btn-secondary" id="cancel" onclick="history.back(-1)">
		<input type="hidden" th:value="${book.listPk}" name="listPk" id="listPk" class="list">
		<input type="hidden" th:value="${book.bookPk}" name="bookPk" id="bookPk" class="book">
		<input type="button" value="삭제" class="btn btn-secondary" id="delete" th:onclick="deleteBtn([[${book.bookPk}]],[[${book.listPk}]]);">
	</div>		
	</form>

		
		
	
	
	
	
	<!-------------------------------------->
	
	
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="../js/address/address.js"></script>	
	
	
</div>

</html>