<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->


<mapper namespace="mainMapper">
	
	<resultMap type="kh.study.intranet.board.vo.BoardVO" id="board">
		<id column="BOARD_NUM"     property="boardNum"/>
		<result column="USER_ID"     property="userId"/>
		<result column="BOARD_TITLE"     property="boardTitle"/>
		<result column="BOARD_CONTENT"     property="boardContent"/>
		<result column="IS_SECRET"     property="isSecret"/>
		<result column="SECRET_PW"     property="secretPw"/>
		<result column="BOARD_READ_CNT"     property="boardReadCnt"/>
		<result column="BOARD_REG_DATE"     property="boardRegDate"/>
		<result column="REPLY_COUNT"     property="replyCount"/>
	</resultMap>
	




 	<resultMap type="kh.study.intranet.approval.vo.ApprovalVO" id="approval">
		<id column="APP_SEQ" 					property="appSeq"/>
		<result column="APP_WRITE_DATE" 		property="appWriteDate"/>
		<result column="TITLE" 					property="title"/>
		<result column="APP_CATE_CODE" 			property="appCateCode"/>
		<result column="USER_ID" 			property="userId"/>
	</resultMap>






	<!-- 최근 5 개 게시글 -->
	<select id="selectRecentBoard" resultMap="board">
		SELECT * FROM(        
		                SELECT DISTINCT BO.BOARD_NUM
		                                , BOARD_TITLE
		                                , BO.USER_ID
		                                , TO_CHAR(BOARD_REG_DATE, 'MM-DD') AS BOARD_REG_DATE
		                                , (SELECT COUNT(REPLY_NUM)
		                                   FROM BOARD_REPLY
		                                   WHERE BOARD_NUM = BO.BOARD_NUM 
		                                   ) AS REPLY_COUNT
		                        FROM BOARD BO LEFT JOIN BOARD_REPLY RE
		                        ON BO.BOARD_NUM = RE.BOARD_NUM
		                        ORDER BY BO.BOARD_NUM DESC 
		             )
		             WHERE ROWNUM BETWEEN 1 AND 5
	</select>
	
	<!-- 결재할 문서목록 -->
	<select id="selectRecentApproval" resultMap="approval">
		SELECT APP.APP_SEQ
		       , APP_WRITE_dATE
		       , TITLE
		       , APP.APP_CATE_CODE
		       , APP.USER_ID
		FROM APPROVAL APP, APP_RECEIVE_REF REF
		WHERE APP.APP_SEQ = REF.APP_SEQ
		AND APP_SEQ_STATUS = #{appSeqStatus}
		AND FIRST_APPROVAL_EMP = #{empNum}
		OR FINAL_APPROVAL_EMP = #{empNum}
				
	
	</select>
</mapper>



