<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/admin_layout">


<div th:fragment="side" style="position: fixed;">

	
	<div class="logo">
		<img id="logo" src="/imgs/common/LOGO.PNG" style="width: 100%; height: 100%;">
	</div>

	
	<!-- Sidebar -->
        <ul class="navbar-nav sidebar bg-gradient-info sidebar-dark accordion" id="accordionSidebar" >

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" style="height: 1px;">
                <div class="sidebar-brand-text mx-3">Menu</div>
            </a>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/main/mainPage">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>홈</span></a>
            </li>

            <!-- Side Nav Item - 관리자기능 -->
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseAdmin"
                    aria-expanded="true" aria-controls="collapseChatting">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>관리자 기능</span>
                </a>
                
                <div id="collapseAdmin" class="collapse" aria-labelledby="headingChatting" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">ADMIN MENU</h6>
                        <a class="collapse-item" href="/admin/selectEmpList">사원관리</a>
                        <a class="collapse-item" href="/admin/regNewEmpForm">회의실관리</a>

                    </div>
                </div>
                
            </li>
            
            <!-- Side Nav Item - 주소록 -->
            <li class="nav-item active">
                <a class="nav-link" href="/address/addressList">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>주소록</span></a>
            </li>

            <!-- Side Nav Item - 채팅 -->
            
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseChatting"
                    aria-expanded="true" aria-controls="collapseChatting">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>채팅</span>
                </a>
                
                <div id="collapseChatting" class="collapse" aria-labelledby="headingChatting" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">CHATTING</h6>
                        <a class="collapse-item" href="/chat/chat_room">채팅방</a>
  
                    </div>
                </div>
                
            </li>
            
            <!-- Side Nav Item - 전자결재 -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseApproval"
                    aria-expanded="true" aria-controls="collapseApproval">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>전자결재</span>
                </a>
                
                <div id="collapseApproval" class="collapse" aria-labelledby="headingApproval" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">APPROVAL</h6>
                        <a class="collapse-item" href="/approval/approvalBoard">전자결재 조회</a>
                        <a class="collapse-item" href="/approval/vacationReport">서류작성</a>
                        <a class="collapse-item" href="/approval/receiveAppPage">결재 문서함</a>
 
                    </div>
                </div>
                
            </li>
            
            
            <!--  Side Nav Item - 게시판 -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseBoard"
                    aria-expanded="true" aria-controls="collapseBoard">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>게시판</span>
                </a>
                
                <div id="collapseBoard" class="collapse" aria-labelledby="headingBoard" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">BOARD</h6>
                        <a class="collapse-item" href="/board/boardList">게시판</a>
                        <a class="collapse-item" href="#">Register</a>
                        <a class="collapse-item" href="#">Forgot Password</a>
   
                    </div>
                </div>
                
            </li>

            <!-- Side Nav Item - 예약 -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseReservation"
                    aria-expanded="true" aria-controls="collapseReservation">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>예약</span>
                </a>
                
                <div id="collapseReservation" class="collapse" aria-labelledby="headingReservation" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">RESERVE</h6>
                        <a class="collapse-item" href="/reservation/insertReserve">회의실 예약</a>
                        <a class="collapse-item" href="/reservation/selectReserve">회의실 예약 조회</a>
  
                    </div>
                </div>
                
            </li>

            <!-- Divider -->
<!--             <hr class="sidebar-divider d-none d-md-block"> -->

<!--             Sidebar Toggler (Sidebar) -->
<!--             <div class="text-center d-none d-md-inline"> -->
<!--                 <button class="rounded-circle border-0" id="sidebarToggle"></button> -->
<!--             </div> -->

<!--             Sidebar Message -->
<!--             <div class="sidebar-card d-none d-lg-flex"> -->
<!--                 <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="..."> -->
<!--                 <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p> -->
<!--                 <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a> -->
<!--             </div> -->

        </ul>
        <!-- End of Sidebar -->
	

	
	<style>
	.logo{
		width: 100%;
		height: 140px;
		background-color: gray;
	}
	</style>

</div>




</html>