<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/admin_layout">


<div th:fragment="side" style="position: fixed;">

	
	<div class="logo">
		<img id="logo" src="/imgs/common/LOGO.PNG" style="width: 100%; height: 100%;">
	</div>

	
	<!-- Sidebar -->
        <ul class="navbar-nav sidebar bg-gradient-info sidebar-dark accordion" id="accordionSidebar" >

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" >
                <div class="sidebar-brand-text mx-3">Menu</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/main/mainPage">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>홈</span></a>
            </li>

<!--             Divider -->
<!--             <hr class="sidebar-divider"> -->

<!--             Heading -->
<!--             <div class="sidebar-heading"> -->
<!--                 Interface -->
<!--             </div> -->

<!--             Nav Item - Pages Collapse Menu -->
<!--             <li class="nav-item"> -->
<!--                 <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" -->
<!--                     aria-expanded="true" aria-controls="collapseTwo"> -->
<!--                     <i class="fas fa-fw fa-cog"></i> -->
<!--                     <span>Components</span> -->
<!--                 </a> -->
<!--                 <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar"> -->
<!--                     <div class="bg-white py-2 collapse-inner rounded"> -->
<!--                         <h6 class="collapse-header">Custom Components:</h6> -->
<!--                         <a class="collapse-item" href="buttons.html">Buttons</a> -->
<!--                         <a class="collapse-item" href="cards.html">Cards</a> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </li> -->

<!--             Nav Item - Utilities Collapse Menu -->
<!--             <li class="nav-item"> -->
<!--                 <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" -->
<!--                     aria-expanded="true" aria-controls="collapseUtilities"> -->
<!--                     <i class="fas fa-fw fa-wrench"></i> -->
<!--                     <span>Utilities</span> -->
<!--                 </a> -->
<!--                 <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" -->
<!--                     data-parent="#accordionSidebar"> -->
<!--                     <div class="bg-white py-2 collapse-inner rounded"> -->
<!--                         <h6 class="collapse-header">Custom Utilities:</h6> -->
<!--                         <a class="collapse-item" href="utilities-color.html">Colors</a> -->
<!--                         <a class="collapse-item" href="utilities-border.html">Borders</a> -->
<!--                         <a class="collapse-item" href="utilities-animation.html">Animations</a> -->
<!--                         <a class="collapse-item" href="utilities-other.html">Other</a> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </li> -->

<!--             Divider -->
<!--             <hr class="sidebar-divider"> -->

<!--             Heading -->
<!--             <div class="sidebar-heading"> -->
<!--                 Addons -->
<!--             </div> -->

            <!-- Side Nav Item - 관리자기능 -->
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseAdmin"
                    aria-expanded="true" aria-controls="collapseChatting">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>관리자 기능</span>
                </a>
                
                <div id="collapseAdmin" class="collapse" aria-labelledby="headingChatting" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">관리자 메뉴</h6>
                        <a class="collapse-item" href="/admin/selectEmpList">사원조회</a>
                        <a class="collapse-item" href="/admin/regNewEmpForm">사원등록</a>
                        <a class="collapse-item" href="#">Blank Page</a>
                    </div>
                </div>
                
            </li>
            
            <!-- Side Nav Item - 주소록 -->
            <li class="nav-item active">
                <a class="nav-link" href="/address/addressList">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>주소록</span></a>
            </li>

            <!-- Side Nav Item - 채팅 -->
            
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseChatting"
                    aria-expanded="true" aria-controls="collapseChatting">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>채팅</span>
                </a>
                
                <div id="collapseChatting" class="collapse" aria-labelledby="headingChatting" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="/chat/chat_room">채팅방</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="#">404 Page</a>
                        <a class="collapse-item" href="#">Blank Page</a>
                    </div>
                </div>
                
            </li>
            
            <!-- Side Nav Item - 전자결재 -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseApproval"
                    aria-expanded="true" aria-controls="collapseApproval">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>전자결재</span>
                </a>
                
                <div id="collapseApproval" class="collapse" aria-labelledby="headingApproval" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">기본</h6>
                        <a class="collapse-item" href="/approval/approvalBoard">전자결재 조회</a>
                        <a class="collapse-item" href="/approval/vacationReport">서류작성</a>
                        <a class="collapse-item" href="#">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="#">404 Page</a>
                        <a class="collapse-item" href="#">Blank Page</a>
                    </div>
                </div>
                
            </li>
            
            
            <!--  Side Nav Item - 게시판 -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseBoard"
                    aria-expanded="true" aria-controls="collapseBoard">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>게시판</span>
                </a>
                
                <div id="collapseBoard" class="collapse" aria-labelledby="headingBoard" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">기본</h6>
                        <a class="collapse-item" href="/board/boardList">게시판</a>
                        <a class="collapse-item" href="#">Register</a>
                        <a class="collapse-item" href="#">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="#">404 Page</a>
                        <a class="collapse-item" href="#">Blank Page</a>
                    </div>
                </div>
                
            </li>

            <!-- Side Nav Item - 예약 -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseReservation"
                    aria-expanded="true" aria-controls="collapseReservation">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>예약</span>
                </a>
                
                <div id="collapseReservation" class="collapse" aria-labelledby="headingReservation" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">기본</h6>
                        <a class="collapse-item" href="/reservation/insertReserve">회의실 예약</a>
                        <a class="collapse-item" href="/reservation/selectReserve">회의실 예약 조회</a>
                        <a class="collapse-item" href="#"></a>
                        
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="#">404 Page</a>
                        <a class="collapse-item" href="#">Blank Page</a>
                    </div>
                </div>
                
            </li>

            <!-- Divider -->
<!--             <hr class="sidebar-divider d-none d-md-block"> -->

<!--             Sidebar Toggler (Sidebar) -->
<!--             <div class="text-center d-none d-md-inline"> -->
<!--                 <button class="rounded-circle border-0" id="sidebarToggle"></button> -->
<!--             </div> -->

<!--             Sidebar Message -->
<!--             <div class="sidebar-card d-none d-lg-flex"> -->
<!--                 <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="..."> -->
<!--                 <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p> -->
<!--                 <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a> -->
<!--             </div> -->

        </ul>
        <!-- End of Sidebar -->
	

	
	<style>
	.logo{
		width: 100%;
		height: 140px;
		background-color: gray;
	}
	</style>

</div>




</html>