<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="approvalMapper">

	<resultMap type="kh.study.intranet.approval.vo.ApprovalVO" id="approval">
		<id column="APP_SEQ" 					property="appSeq"/>
		<result column="APP_WRITE_DATE" 		property="appWriteDate"/>
		<result column="TITLE" 					property="title"/>
		<result column="APP_CATE" 				property="appCate"/>
		<result column="FIRST_TIME_APPROVER" 	property="firstTimeApprover"/>
		<result column="INTERMIDIATE_APPROVER" 	property="intermidiateApprover"/>
		<result column="FINAL_APPROVER" 		property="finalApprover"/>
		<result column="APP_CHECK_STATUS" 		property="appCheckStatus"/>
		<association property="empVO" resultMap="empMapper.emp"/>
		<association property="vacationVO" resultMap="empMapper.emp"/>
		<association property="nomalVO" resultMap="empMapper.emp"/>
		<association property="accountingVO" resultMap="empMapper.emp"/>
	</resultMap>
	
	
	<resultMap type="kh.study.intranet.approval.vo.VacationVO" id="vacation">
		<id column="VACATION_SEQ" 		property="vacationSeq"/>
		<result column="VACATION_CONTENT" 		property="vacationContent"/>
		<result column="VACATION_STRAT_DATE" 		property="vacationStartDate"/>
		<result column="VACATION_END_DATE" 		property="vacationEndDate"/>
		<result column="VACATION_PERIOD_DATE" 		property="vacationPeriodDate"/>
		<result column="USER_ID" 		property="userId"/>
		<result column="APP_SEQ" 		property="appSeq"/>
	</resultMap>
	
	<resultMap type="kh.study.intranet.approval.vo.NomalVO" id="nomal">
		<id column="NOMAL_SEQ" 		property="nomalSeq"/>
		<result column="NOMAL_CONTENT" 		property="nomalContent"/>
		<result column="APP_SEQ" 		property="appSeq"/>
		<result column="USER_ID" 		property="userId"/>
	</resultMap>
	
	<select id="getAppSeq" resultMap="approval">
		SELECT (SELECT 'APP_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(APP_SEQ, 5))), 0) + 1, 3, 0) FROM APPROVAL) APP_SEQ
        ,TO_CHAR(SYSDATE,'YYYY-MM-DD') AS APP_WRITE_DATE
		FROM DUAL
		
	</select>
	
	<select id="selectAppEmp" resultMap="empMapper.emp">
		SELECT EMP_NAME
			, EMP.DEPT_NAME
		FROM EMP, DEPT
		WHERE EMP.DEPT_CODE = DEPT.DEPT_CODE
		AND USER_ID = #{userId}
	</select>
	
	<insert id="insertApproval">
		INSERT INTO APPROVAL(
			APP_SEQ
            ,USER_ID
            ,TITLE
            ,APP_CATE
		) VALUES(
			(SELECT 'APP_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(APP_SEQ, 5))), 0) + 1, 3, 0) FROM APPROVAL)
            ,#{userId}
            ,#{title}
            ,#{appCate}
		)
	</insert>
	
	<insert id="insertVacation">
		<selectKey resultType="String" keyProperty="vacationSeq" order="BEFORE">
			SELECT 'VACATION_APP_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(VACATION_SEQ, 14))), 0) + 1, 3, 0) 
			FROM APP_FORM_VACATION  
		</selectKey>
		INSERT INTO APP_FORM_VACATION (
			APP_SEQ
			, VACATION_SEQ
			, VACATION_START_DATE
			, VACATION_END_DATE
			, VACATION_PERIOD_DATE
			, VACATION_CONTENT
			, USER_ID
		)VALUES (
			#{appSeq}
			, #{vacationSeq}
			, #{vacationStartDate}
			, #{vacationEndDate}
			, #{vacationPeriodDate}
			, #{vacationContent}
			, #{userId}
		)
	</insert>
	
	<insert id="insertNomal">
		<selectKey resultType="String" keyProperty="nomalSeq" order="BEFORE">
			SELECT 'NOMAL_APP_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(NOMAL_SEQ, 11))), 0) + 1, 3, 0) 
			FROM APP_FORM_NOMAL  
		</selectKey>
		INSERT INTO APP_FORM_NOMAL (
			APP_SEQ
			, NOMAL_SEQ
			, NOMAL_CONTENT
			, USER_ID
		)VALUES (
			#{appSeq}
			, #{nomalSeq}
			, #{nomalContent}
			, #{userId}
		)
	</insert>
	
	<insert id="insertAccounting">
		<selectKey resultType="String" keyProperty="accountingSeq" order="BEFORE">
			SELECT 'ACCOUNTING_APP_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ACCOUNTING_SEQ, 16))), 0) + 1, 3, 0) 
			FROM APP_FORM_ACCOUNTING  
		</selectKey>
		INSERT INTO APP_FORM_ACCOUNTING (
			ACCOUNTING_SEQ
			, PAYMENT_REQUEST_DATE
			, ACCOUNTING_CLIENT
			, ACCOUNT_NUMBER
			, ACCOUNT
			, BUSINESS_REGISTRATION_NUMBER
			, AMOUNT
			, ACCOUNTING_CONTENT
			, ACCOUNTING_CATEGORY
			, APP_SEQ
			, USER_ID
		)VALUES (
			#{accountingSeq}
			, #{paymentRequestDate}
			, #{accountingClient}
			, #{accountNumber}
			, #{account}
			, #{businessRegistrationNumber}
			, #{amount}
			, #{accountingContent}
			, #{accountingCategory}
			, #{appSeq}
			, #{userId}
		)
	</insert>
	
	<select id="selectApp" resultMap="approval">
		SELECT APPROVAL.APP_SEQ
			, APP_WRITE_DATE
	        , TITLE
            , APPROVAL.USER_ID
            ,(SELECT EMP_NAME FROM EMP WHERE EMP.USER_ID = APPROVAL.USER_ID) AS EMP_NAME 
            ,(SELECT DEPT_NAME FROM EMP WHERE EMP.USER_ID = APPROVAL.USER_ID) AS DEPT_NAME 
		FROM APPROVAL , APP_FORM_VACATION VACATION, APP_FORM_NOMAL NOMAL, APP_FORM_ACCOUNTING ACCOUNTING
		WHERE APPROVAL.USER_ID = VACATION.USER_ID
		AND APPROVAL.USER_ID = NOMAL.USER_ID
		AND APPROVAL.USER_ID = ACCOUNTING.USER_ID
		ORDER BY APPROVAL.APP_SEQ DESC
		
	</select>
	
	<select id="selectBoxList" resultMap="approval">
		SELECT APP_CATE
		FROM APPROVAL
	</select>
	
	<!-- <select id="selectAppCateBoard" parameterType="HashMap">
		<if test="valueAppCate == '일반품의서'">
			
			SELECT 
				
			FROM APPROVAL 
			WHERE APP_CATE = #{appCate}
		</if>
	</select> -->
	
	
	<select id="selectAppCateBoard" resultMap="approval">
		<choose>
			<when test='appCate == "휴가신청서"'>
				SELECT VACATION_SEQ
					, APP_WRITE_DATE
			        , TITLE
		            , APPROVAL.USER_ID
		            , (SELECT EMP_NAME FROM EMP WHERE EMP.USER_ID = APPROVAL.USER_ID) AS EMP_NAME
		            , (SELECT DEPT_NAME FROM EMP WHERE EMP.USER_ID = APPROVAL.USER_ID) AS DEPT_NAME
		        FROM APPROVAL , APP_FORM_VACATION VACATION
		        WHERE APPROVAL.APP_SEQ = VACATION.APP_SEQ
			</when>
			<when test='appCate == "일반품의서"'>
				SELECT NOMAL_SEQ
					, APP_WRITE_DATE
			        , TITLE
		            , APPROVAL.USER_ID
		            , (SELECT EMP_NAME FROM EMP WHERE EMP.USER_ID = APPROVAL.USER_ID) AS EMP_NAME
		            , (SELECT DEPT_NAME FROM EMP WHERE EMP.USER_ID = APPROVAL.USER_ID) AS DEPT_NAME
		        FROM APPROVAL , APP_FORM_NOMAL NOMAL
		        WHERE APPROVAL.APP_SEQ = NOMAL.APP_SEQ
			</when>
			<when test='appCate == "회계품의서"'>
				SELECT ACCOUNTING_SEQ
					, APP_WRITE_DATE
			        , TITLE
		            , APPROVAL.USER_ID
		            , (SELECT EMP_NAME FROM EMP WHERE EMP.USER_ID = APPROVAL.USER_ID) AS EMP_NAME
		            , (SELECT DEPT_NAME FROM EMP WHERE EMP.USER_ID = APPROVAL.USER_ID) AS DEPT_NAME
		        FROM APPROVAL , APP_FORM_ACCOUNTING ACCOUNTING
		        WHERE APPROVAL.APP_SEQ = ACCOUNTING.APP_SEQ
			</when>
		</choose>
	</select>
	
	
</mapper>



