<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="reservationMapper">
	
	<!-- 회의실 테이블 -->
	<resultMap type="kh.study.intranet.reservation.vo.MeetingRoomVO" id="meeting">
		<id column="ROOM_CODE" property="roomCode"/>
		<result column="ROOM_NAME" property="roomName"/>
		<result column="AVAILABLE" property="available"/>
		
		
	
	</resultMap>
	
	
	<!-- 회의실 예약 테이블 -->
	<resultMap type="kh.study.intranet.reservation.vo.ReservationVO" id="reservation">
		<id column="RESERVE_CODE" property="reserveCode"/>
		<result column="RESERVE_USER_ID" property="reserveUserId"/>
		<result column="ROOM_CODE" property="roomCode"/>
		<result column="RESERVE_DATE" property="reserveDate"/>
		<result column="RESERVE_TIME" property="reserveTime"/>
		<result column="RESERVE_AVAILABLE" property="reserveAvailable"/>
		<result column="ROOM_NAME" property="roomName"/>
		
	</resultMap>
		
	   <!-- 예약가능날짜 조회 -->   
   <select id="availableDay" resultType="String">
      SELECT 
            DISTINCT ( TO_CHAR( RESERVE_DATE, 'YYYY-MM-DD') )  AS RESERVE_DATE 
      		FROM RESERVATION_MEETING_ROOM
     		 WHERE RESERVE_AVAILABLE = 'Y'
   </select>
   
   <!-- 예약 불가능 날짜 조회 -->
   <select id="disAvailableDay" resultType="String">
      SELECT     
              DISTINCT (  TO_CHAR( RESERVE_DATE, 'YYYY-MM-DD') )  AS RESERVE_DATE 
      FROM RESERVATION_MEETING_ROOM
          MINUS
      SELECT     
              DISTINCT (  TO_CHAR( RESERVE_DATE, 'YYYY-MM-DD') )  AS RESERVE_DATE 
      FROM RESERVATION_MEETING_ROOM
      WHERE RESERVE_AVAILABLE = 'Y'
   </select>
	
	
	<select id="selectMeetingRoom" resultMap="meeting">
	SELECT ROOM_CODE
		, ROOM_NAME
		, AVAILABLE
		FROM MEETING_ROOM
		
	</select>
	
	
	<!-- 모든 데이터 조회 -->
	<select id="selectReserveAll" resultMap="reservation">
		SELECT R.ROOM_CODE
	     , ROOM_NAME
	     , RESERVE_CODE
	     , RESERVE_USER_ID
	     , TO_CHAR(RESERVE_DATE,'YYYY-MM-DD') AS RESERVE_DATE
	     , RESERVE_TIME
	     , RESERVE_AVAILABLE
	     FROM MEETING_ROOM M , RESERVATION_MEETING_ROOM R
	     WHERE M.ROOM_CODE = R.ROOM_CODE
	     <!-- AND RESERVE_USER_ID = #{reserveUserId} -->
	     AND RESERVE_AVAILABLE = 'N'
	     <!-- AND RESERVE_DATE = '2022-11-11' -->	
	
	</select>
	
	
	<!-- 날짜에 사용가능한 예약 조회 -->
	<select id="availableReserve" resultMap="reservation">
	SELECT DISTINCT RESERVE_DATE 
			FROM RESERVATION_MEETING_ROOM 
			WHERE RESERVE_AVAILABLE = 'N'
	
	
	</select>
	
	
	<select id="selectReservation" resultMap="reservation">
	SELECT M.ROOM_CODE
		, ROOM_NAME
		, AVAILABLE
		, RESERVE_CODE
		, RESERVE_USER_ID
		, TO_CHAR(RESERVE_DATE,'YYYY-MM-DD') AS RESERVE_DATE
		, RESERVE_TIME
		, RESERVE_AVAILABLE
		FROM MEETING_ROOM M , RESERVATION_MEETING_ROOM R
		WHERE M.ROOM_CODE = R.ROOM_CODE
		AND RESERVE_DATE = #{reserveDate}
		
		
	</select>	

		
	<select id="selectAvailableReservation" resultMap="reservation">	
	SELECT RESERVE_TIME 
			FROM RESERVATION_MEETING_ROOM
			WHERE ROOM_CODE = #{roomCode}
			AND RESERVE_DATE = #{reserveDate}
			AND RESERVE_AVAILABLE = 'Y'
	
	
	</select>		
	
	
	
	<!--업데이트 초안  -->
	
	<update id="reserveUpdate">
	UPDATE RESERVATION_MEETING_ROOM
	SET
	RESERVE_AVAILABLE = 'N'
	WHERE
	
	ROOM_CODE = #{roomCode}
	
	AND
	RESERVE_DATE = #{reserveDate}
	AND RESERVE_TIME = #{reserveTime}
	
	<!-- AND RESERVE_CODE = #{reserveCode} -->
	
	</update>
	
	
	<insert id="insertAllSchedules">
	
	</insert>
	
</mapper>



