<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="reservationMapper">
	
	<!-- 회의실 테이블 -->
	<resultMap type="kh.study.intranet.reservation.vo.MeetingRoomVO" id="meeting">
		<id column="ROOM_CODE" property="roomCode"/>
		<result column="ROOM_NAME" property="roomName"/>
		<result column="MAX_ROOM_CNT" property="maxRoomCnt"/>
		<result column="AVAILABLE" property="available"/>
		
	
	</resultMap>
	
	
	<!-- 회의실 예약 테이블 -->
	<resultMap type="kh.study.intranet.reservation.vo.ReservationVO" id="reservation">
		<id column="RESERVE_CODE" property="reserveCode"/>
		<result column="ROOM_CODE" property="roomCode"/>
		<result column="RESERVE_DATE" property="reserveDate"/>
		<result column="START_TIME" property="startTime"/>
		<result column="END_TIME" property="endTime"/>
		<result column="RESERVE_USER_ID" property="reserveUserId"/>
		<result column="RESERVE_AVAILABLE" property="reserveAvailable"/>
	</resultMap>
		
	
	
	<select id="selectMeetingRoom" resultMap="meeting">
	SELECT M.ROOM_CODE
		, RESERVE_CODE
		, ROOM_NAME
		, MAX_ROOM_CNT
		, AVAILABLE
		, RESERVE_DATE
		, START_TIME
		, END_TIME
		, RESERVE_USER_ID
		, RESERVE_AVAILABLE
		FROM MEETING_ROOM M , RESERVATION_MEETING_ROOM R
		WHERE M.ROOM_CODE = R.ROOM_CODE
		
		
		
	
	
	
	</select>
	
	<insert id="regReservation">
	INSERT INTO MEETING_ROOM (
			ROOM_CODE
			,ROOM_NAME
			,MAX_ROOM_CNT
			,AVAILABLE
	
	
	) 
	VALUES (
			#{roomCode}
			,#{roomName}
			,#{maxRoomCnt}
			,#{available}
	
	
	
	)
	
	
	</insert>
	
	
	
	
	
	
</mapper>



