<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	
<div layout:fragment="content">
	<div>결재현황</div>
	<div class="row">
		<div class="col-4">
			<div class="card text-center text-success" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">결재대기</h5>
					<br> <br>
					<th:block>
							<h3 class="card-subtitle mb-2 text-muted" >
								<a th:href="@{/approval/approvalBoard(appSeqStatus=결재대기, nowPage=1)}" th:text="${countApp.SEQ_STATUS_ONE} + '건'" id="statusOne">1 건</a>
							</h3>
					</th:block>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card text-center text-success" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">결재중</h5>
					<br> <br>
					<h3 class="card-subtitle mb-2 text-muted" ><a th:href="@{/approval/approvalBoard(appSeqStatus=결재중, nowPage=1)}" th:text="${countApp.SEQ_STATUS_TWO} + '건'">2 건</a></h3>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card text-center text-success" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">결재완료</h5>
					<br> <br>
					<h3 class="card-subtitle mb-2 text-muted"> <a th:href="@{/approval/approvalBoard(appSeqStatus=결재완료, nowPage=1)}" th:text="${countApp.SEQ_STATUS_TREE} + '건'">3 건</a></h3>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div style="text-align: center;">
		<form th:action="@{/approval/approvalBoard}" method="post">
		<table class="table align-middle table-bordered text-center">
			<colgroup>
				<col width="8%">
				<col width="8%">
				<col width="15%">
				<col width="8%">
				<col width="19%">
				<col width="8%">
				<col width="8%">
				<col width="18%">
				<col width="8%">
			</colgroup>
			<tr>
				<td rowspan="2" align="center">
						<br>
						검 색<br>
						조 건
				</td>
				<td class="searchTitle">기안서</td>
				<td><select class="form-select" name="appCateCode" style="border: none;">
						<option value="" th:selected="${paramMap['appCateCode'] == null or paramMap['appCateCode'] eq ''}">전체</option>
						<option th:each="appBox : ${appBoxList}"
							th:text="${appBox.appCategoryVO.appCateName}"
							th:value="${appBox.appCategoryVO.appCateCode}"
							th:selected="${paramMap['appCateCode'] eq appBox.appCategoryVO.appCateCode}"></option>
				</select></td>
				<td class="searchTitle">제목</td>
				<td colspan="2"><input class="form-control" type="text"
					name="title" id="" th:value="${paramMap['title']}">
				</td>
				<td class="searchTitle">사원명</td>
				<td><input class="form-control" type="text" name="empName"
					id="" th:value="${paramMap['empName']}"></td>
				<td rowspan="2">
					<button type="submit" id="searchButton"  class="btn btn-outline-info" style="height: 90px;">검색</button>
				</td>
			</tr>
			<tr style="text-align: center;">
				<td class="searchTitle">기안일</td>
				<td colspan="3">
					<div class="row">
						<div class="col-6">
							<input class="form-control" type="date" name="fromDate" id=""
								th:value="${paramMap['fromDate']}">
						</div>
						<div class="col-6">
							<input class="form-control" type="date" name="toDate" id=""
								th:value="${paramMap['toDate']}">
						</div>
					</div>
				</td>
				 <td class="searchTitle">상태</td>
				<td colspan="2">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="appSeqStatus"
							id="" value="전체"
							th:checked="${paramMap['appSeqStatus'] eq '결재대기' && paramMap['appSeqStatus'] eq '결재중' && paramMap['appSeqStatus'] eq '결재완료'}">
						<label class="form-check-label" for="">전체</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="appSeqStatus"
							id="" value="결재대기"
							th:checked="${paramMap['appSeqStatus'] eq '결재대기'}">
						<label class="form-check-label" for="">결재대기</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="appSeqStatus" id="" value="결재중"	th:checked="${paramMap['appSeqStatus'] eq '결재중'}">
						 <label	class="form-check-label" for="">결재중</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="appSeqStatus"
							id="" value="결재완료"
							th:checked="${paramMap['appSeqStatus'] eq '결재완료'}"> <label
							class="form-check-label" for="">결재완료</label>
					</div>
				</td>
			</tr>
		</table>
		<input type="hidden" id="nowPage" value="1"  name="nowPage" >
		</form>
	</div>
	
	
	<br>
	<!-- 리스트 -->
	<div>결재 수신목록 &nbsp;&nbsp;
	</div>
	<div>
		<table class="table  table-hover">
			<thead>
				<tr bordercolor="sold 1px;">
					<th scope="col">문서번호</th>
					<th scope="col">기안자</th>
					<th scope="col">제목</th>
					<th scope="col">기안서</th>
					<th scope="col">기안부서</th>
					<th scope="col">기안일
				</tr>
			</thead>
			<tbody id="appList">
				<tr  th:each="app : ${appList}" th:onclick="requestApproval([[${app.appSeq}]],[[${app.appCateCode}]]);">
					<td th:text="${app.appSeq}">@mdo</td>
					<td th:text="${app.empVO.empName}">@mdo</td>
					<td th:text="${app.title}">Otto</td>
					<td th:text="${app.appCategoryVO.appCateName}">Otto</td>
					<td th:text="${app.empVO.deptName}">Otto</td>
					<td th:text="${app.appWriteDate}">Mark</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- 페이징 처리 -->
    <div class="row">
		<div align="center">
			<th:block th:if="${pageVO.prev}">
				<a th:text="prev" th:onclick="|movePage(${pageVO.beginPage-1})|"></a>
			</th:block>
			<th:block th:each="pageNum : ${#numbers.sequence(pageVO.beginPage, pageVO.endPage)}">
				<a th:text="${pageNum}" th:onclick="|movePage(${pageNum})|"></a>
			</th:block>
			<th:block th:if="${pageVO.next}">
				<a th:text="next" th:onclick="|movePage(${pageVO.endPage+1})|"></a>
			</th:block>
		</div>
	</div>   
	
<script type="text/javascript" th:src="@{/js/approval/approval_board.js}"></script>
<script type="text/javascript" th:src="@{/js/approval/request_approval.js}"></script>
</div>
</html>