<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	
<div layout:fragment="content">
	<div>결재현황</div>
	<div class="row">
		<div class="col-4">
			<div class="card text-center text-success" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">결재대기</h5>
					<br> <br>
					<h3 class="card-subtitle mb-2 text-muted">1 건</h3>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card text-center text-success" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">결재중</h5>
					<br> <br>
					<h3 class="card-subtitle mb-2 text-muted">2 건</h3>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card text-center text-success" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">결재완료</h5>
					<br> <br>
					<h3 class="card-subtitle mb-2 text-muted">3 건</h3>
				</div>
			</div>
		</div>
	</div>
	<br>
	<!-- 리스트 -->
	<div>결재 수신목록 &nbsp;&nbsp;
		<span>
			<select style="border: none;"id="selectAppCate" >
				<option>전체</option>
				<option class="app" th:each="appBoxList : ${appBoxList}" th:value="${appBoxList.appCate}" th:text="${appBoxList.appCate}"></option>
			</select>
		</span>
	</div>
	<div>
		<table class="table">
			<thead>
				<tr bordercolor="sold 1px;">
					<th scope="col">문서번호</th>
					<th scope="col">기안자</th>
					<th scope="col">제목</th>
					<th scope="col">기안부서</th>
					<th scope="col">기안일
				</tr>
			</thead>
			<tbody id="appList">
				<tr  th:each="app : ${appList}">
					<td th:text="${app.appSeq}">@mdo</td>
					<td th:text="${app.empVO.empName}">@mdo</td>
					<td th:text="${app.title}">Otto</td>
					<td th:text="${app.empVO.deptName}">@mdo</td>
					<td th:text="${app.appWriteDate}">Mark</td>
				</tr>
				
			</tbody>
		</table>
	</div>
<script type="text/javascript" th:src="@{/js/approval/approval_board.js}"></script>
</div>
</html>