<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<th:block layout:fregment="css">
	<link href="/css/layout/common.css" rel="stylesheet">
</th:block>	
	
<div layout:fragment="content">
 	<div>
		<form th:action="@{/approval/approvalMark}" method="post">
			<input type="hidden" name="appCateCode" value="NOMAL">
	<!-- 문서 헤더 시작-->
		<div style="margin-top: 27px; ">
			<table style="width: 1000px; border-collapse: collapse !important; color: black; background: white; border: 1px solid black; font-size: 12px; font-family: malgun gothic, dotum, arial, tahoma;">

				<tbody>
					<tr>
						<td style="padding: 3px; border: 1px solid black; height: 140px !important; font-size: 27px; font-weight: bold; text-align: center; vertical-align: middle;" colspan="2">
							품 &nbsp;의 &nbsp;서
						</td>
						<td></td>
						<td></td>
						<td colspan="2" >
							<table style="border: 1px solid black; height: 135px; width: 100%; text-align: center; ">
							
							<colgroup>
								<col style="width: 10%;">
								<col style="width: 30%;">
								<col style="width: 30%;">
							</colgroup>
							
							
								<tr style="border: 1px solid black; height: 17%; text-align: center;">
									<td rowspan="3">결 <br> 재 <br> 선</td>
									<td  style="border: 1px solid black;">팀장</td>
									<td  style="border: 1px solid black;">부장</td>						
								</tr>
								
								<tr style="border: 1px solid black; height: 17%">
<!-- 									<td>a</td> -->
									<td style="border: 1px solid black;"> 
										[[${ref.FIRST_EMP_NAME}]]
									</td>
									<!-- <td style="border: 1px solid black;" th:if="${receiveRefInfo.approvalVO.empVO.empPosition eq '팀장'}"
										th:text="${receiveRefInfo.approvalVO.empVO.empName}">이름</td> -->
								<!-- 	<td style="border: 1px solid black;" th:if="${receiveRefInfo.approvalVO.empVO.empPosition eq '부장'}"
										th:text="${receiveRefInfo.approvalVO.empVO.empName}">이름</td> -->
									<td style="border: 1px solid black;">
										[[${ref.FINAL_EMP_NAME}]]
									</td> 
								</tr>
								<tr style="border: 1px solid black;" >
								
									<th:block th:if="${#authentication.name eq ref.FIRST_USER_ID}">
										<td style="border: 1px solid black;" id="approvalButton" th:if="${ref.FIRST_APPROVAL == 'Y'}">
											<img src="/imgs/approval/thumb_d_B7B18BFBE0353B3F8C77E8006E453562.jpg" style="width:100PX;">
										</td>
										<td style="border: 1px solid black;" id="approvalButton" th:if="${ref.FIRST_APPROVAL == 'N'}">
											<input type="button" value="결재승인"
											th:onclick="approvalMark([[${ref.FIRST_APPROVAL_EMP}]],[[${document.appSeq}]]);">
										</td>
									</th:block>
									<th:block th:unless="${#authentication.name eq ref.FIRST_USER_ID}">
										<td style="border: 1px solid black;" id="approvalButton" th:if="${ref.FIRST_APPROVAL == 'Y'}">
											<img src="/imgs/approval/thumb_d_B7B18BFBE0353B3F8C77E8006E453562.jpg" style="width:100PX;">
										</td>
										<td style="border: 1px solid black;" id="approvalButton" th:if="${ref.FIRST_APPROVAL == 'N'}">
										</td>
									</th:block>
									
									
									<th:block th:if="${#authentication.name eq ref.FINAL_USER_ID}">
											<td style="border: 1px solid black;" id="approvalButton2" th:if="${ref.FINAL_APPROVAL == 'Y'}">
												<img src="/imgs/approval/thumb_d_B7B18BFBE0353B3F8C77E8006E453562.jpg" style="width: 100px;">
											</td>
											<td style="border: 1px solid black;" id="approvalButton2" th:if="${ref.FINAL_APPROVAL == 'N'}">
												<input type="button" value="결재승인"
												th:onclick="approvalFinalMark([[${ref.FINAL_APPROVAL_EMP}]],[[${document.appSeq}]]);">
											</td>
									</th:block>
									<th:block th:unless="${#authentication.name eq ref.FINAL_USER_ID}">
											<td style="border: 1px solid black;" id="approvalButton2" th:if="${ref.FINAL_APPROVAL == 'Y'}">
												<img src="/imgs/approval/thumb_d_B7B18BFBE0353B3F8C77E8006E453562.jpg" style="width: 50px;">
											</td>
											<td style="border: 1px solid black;" id="approvalButton2" th:if="${ref.FINAL_APPROVAL == 'N'}">
											</td>
									</th:block>
								</tr>
							
								
							</table>
						</td>
					
					</tr>
					
					<tr>
						<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center; font-weight: bold;">
							기안부서
						</td>
						
						<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center;">
							<span th:text="${document.empVO.deptName}"></span>
						</td>
						
						<td rowspan="2" style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center; font-weight: bold;">
							기 안 일
						</td>
						
						<td rowspan="2" style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center;">
								<!-- <span th:text="${#temporals.format(document.appWriteDate, 'yyyy-MM-dd')}"></span> -->
							
							<span th:text="${document.appWriteDate}"></span>
						</td>
						
						<td rowspan="2" style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center; font-weight: bold;">
							문서번호
						</td>
						<td rowspan="2" style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center; font-size: 12px;">
							<span th:text="${document.appSeq}"></span>
						</td>
					</tr>
					<tr>
						<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center; font-weight: bold;">
							기 안 자
						</td>
						<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center;">
							<span th:text="${document.empVO.empName}"></span>
						</td>
						
					</tr>
				</tbody>
			</table> 
		</div>
			<table
				style="width: 1000px; border-collapse: collapse; border-spacing: 0px; border: 1px solid black;">
				<tbody>
					<tr>
						<td
							style="padding: 0px !important; height: 10px; vertical-align: middle; border: 1px solid black; font-size: 9px;">
								<br>
						</td>
					</tr>
				</tbody>
			</table> 
			
			
			
			
			<!-- 제목 및 내용 시작 -->

			<table
				style="width: 1000px; border-collapse: collapse !important; color: black; background: white; border: 1px solid black; font-size: 12px; font-family: malgun gothic, dotum, arial, tahoma;">
				<colgroup>
					<col style="width: 90px;">
					<col style="width: 710px;">
				</colgroup>

				<tbody>
					<tr>
						<td style="padding: 3px; width:100px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center; font-weight: bold;">
							제  &nbsp;&nbsp;&nbsp; 목
						</td>
						<td>
							<span th:text="${document.title}"></span>
						</td>
							
					</tr>
					
					<tr>
					<!-- 본문내용 -->
						<td style="padding: 3px; height: 540px; vertical-align: top; border: 1px solid black;" colspan="2">
							<span th:text="${document.nomalVO.nomalContent}"></span>
						</td>
					</tr>
				</tbody>
			</table> <!-- 제목 및 내용 끝 --> 
			</form>
		</div>	
	
	<script type="text/javascript" th:src="@{/js/approval/request_approval.js}"></script>
	
</div>
</html>