<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorate="~{layout/base_layout}">



<div layout:fragment="content">

	<div class="input-group mb-3">
		<button class="btn btn-outline-secondary dropdown-toggle"
			type="button" data-bs-toggle="dropdown" aria-expanded="false">기안서
			종류</button>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="/approval/vacationReport">연차신청서</a></li>
			<li><a class="dropdown-item" href="/approval/nomalReport">일반품의서</a></li>
			<li><a class="dropdown-item" href="/approval/accountingReport">회계품의서</a></li>
		</ul>
	</div>


	<div>
		<form th:action="@{/approval/regNomal}" method="post">
			<input type="hidden" name="appCateCode" value="NOMAL">
	<!-- 문서 헤더 시작-->
		<div style="margin-top: 27px; ">
			<table style="width: 1000px; border-collapse: collapse !important; color: black; background: white; border: 1px solid black; font-size: 12px; font-family: malgun gothic, dotum, arial, tahoma;">
				<colgroup>
					<col style="width: 90px;">
					<col style="width: 180px;">
					<col style="width: 90px;">
					<col style="width: 120px;">
					<col style="width: 90px;">
				</colgroup>

				<tbody>
					<tr>
						<td style="padding: 3px; border: 1px solid black; height: 140px !important; font-size: 27px; font-weight: bold; text-align: center; vertical-align: middle;" colspan="2">
							품 &nbsp;의 &nbsp;서
						</td>
<!-- 						<td> -->
<!-- 							<div class="row" style="background-color: blue;"> -->
							
<!-- 								<div class="col-3"> aa</div> -->
<!-- 								<div class="col-3">bb</div> -->
<!-- 								<div class="col-3"> cc</div> -->
<!-- 								<div class="col-3">dd</div> -->

<!-- 							</div> -->
<!-- 						</td> -->
						<td></td>
						<td></td>
						<td colspan="2" >
							<table style="border: 1px solid black; height: 135px; width: 100%; text-align: center; ">
							
							<colgroup>
								<col style="width: 10%;">
								<col style="width: 30%;">
								<col style="width: 30%;">
							</colgroup>
							
							
								<tr style="border: 1px solid black; height: 17%; text-align: center;">
									<td rowspan="3">결 <br> 재 <br> 선</td>
									<td  style="border: 1px solid black;">팀장</td>
									<td  style="border: 1px solid black;">부장</td>
								</tr>
								
								<tr style="border: 1px solid black; height: 17%">
<!-- 									<td>a</td> -->
										<td
											style="padding: 3px !important; border: 1px solid black; border-image: none; width: 100px; height: 22px; text-align: center; font-weight: bold; vertical-align: middle;">
											<select name="firstApprovalEmp" style="border: none;text-align: center;">
												<option th:each="role : ${empRole}"
													th:value="${role.empNum}" th:text="${role.empName}"
													th:if="${role.empPosition eq '팀장'}"></option>
										</select>
										</td>
										<!-- 부장 -->
										<td
											style="padding: 3px !important; border: 1px solid black; border-image: none; width: 100px; height: 22px; text-align: center; font-weight: bold; vertical-align: middle;">
											<select name="finalApprovalEmp" style="border: none;text-align: center;">
												<option th:each="role : ${empRole}"
													th:value="${role.empNum}" th:text="${role.empName}"
													th:if="${role.empPosition eq '부장'}"></option>
										</select>
										</td>
									</tr>
								
								<tr style="border: 1px solid black;">
<!-- 									<td>a</td> -->
									<td style="border: 1px solid black;"></td>
									<td style="border: 1px solid black;"></td>
								</tr>
							</table>
							<input type="hidden" value="N" name="firstApproval">
							<input type="hidden" value="N" name="finalApproval">
							<input type="hidden" value="결재대기" name="appSeqStatus">
						</td>
					
					</tr>
					
					<tr>
						<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center; font-weight: bold;">
							기안부서
						</td>
						
						<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: left;">
							<span th:text="${empInfo.deptName}"></span>
						</td>
						
						<td rowspan="2" style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center; font-weight: bold;">
							기 안 일
						</td>
						
						<td rowspan="2" style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: left;">
							<span th:text="${appSeq.appWriteDate}"></span>
						</td>
						
						<td rowspan="2" style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center; font-weight: bold;">
							문서번호
						</td>
						<td rowspan="2" style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: left; font-size: 12px;">
							<input type="hidden" th:value="${appSeq.appSeq}" name="appSeq">
							<span th:text="${appSeq.appSeq}"></span>
						</td>
					</tr>
					<tr>
						<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center; font-weight: bold;">
							기 안 자
						</td>
						<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: left;">
							<span th:text="${empInfo.empName}"></span>
						</td>
						
					</tr>
				</tbody>
			</table> <!-- 문서 헤더 끝--> <!-- 마진 시작-->
		</div>
			<table
				style="width: 1000px; border-collapse: collapse; border-spacing: 0px; border: 1px solid black;">
				<tbody>
					<tr>
						<td
							style="padding: 0px !important; height: 10px; vertical-align: middle; border: 1px solid black; font-size: 9px;">
								<br>
						</td>
					</tr>
				</tbody>
			</table> <!-- 마진 끝 --> 
			
			
			
			
			<!-- 제목 및 내용 시작 -->

			<table
				style="width: 1000px; border-collapse: collapse !important; color: black; background: white; border: 1px solid black; font-size: 12px; font-family: malgun gothic, dotum, arial, tahoma;">
				<colgroup>
					<col style="width: 90px;">
					<col style="width: 710px;">
				</colgroup>

				<tbody>
					<tr>
						<td style="padding: 3px; width:100px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center; font-weight: bold;">
							제  &nbsp;&nbsp;&nbsp; 목
						</td>
						<td>
							<input style="border: none; width:900px;" type="text" name="title" value="">
						</td>
							
					</tr>
					
					<tr>
					<!-- 본문내용 -->
						<td style="padding: 3px; height: 540px; vertical-align: top; border: 1px solid black;" colspan="2">
							<textarea style="border: none;  resize: none;" cols="161" rows="32" name="nomalContent"></textarea>
						</td>
					</tr>
				</tbody>
			</table> <!-- 제목 및 내용 끝 --> 
				<div style="margin-top: 20px; text-align:center; ">
						<input style="margin-right: 540px; margin-bottom: 25px;" id="nomalButton" type="button" value="결재요청" onclick="Confirm();">
				</div>
			</form>
		</div>	
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
			<script type="text/javascript">
					function Confirm(){
			            Swal.fire({
			              title: '결재하시겠습니까?',
			              icon: 'warning',
			              showCancelButton: true,
			              confirmButtonColor: '#3085d6',
			              cancelButtonColor: '#d33',
			              confirmButtonText: '결재',
			              cancelButtonText: '취소'
			            }).then((result) => {
			              if (result.isConfirmed) {
			                $('#nomalButton').attr('type','submit');
			                $('#nomalButton').attr('onclick','')
			                $('#nomalButton').click();
			                
			              }
			            })
			         }
			</script>

</div>
</html>