<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<div layout:fragment="content">
	<div>
		<h3>-- 결재 대기 --</h3>	
	</div>
	<table class="table table-hover">
			<thead>
				<tr bordercolor="sold 1px;">
					<th scope="col">문서번호</th>
					<th scope="col">기안자</th>
					<th scope="col">제목</th>
					<th scope="col">기안서</th>
					<th scope="col">기안부서</th>
					<th scope="col">기안일
				</tr>
			</thead>
			
			<tbody id="appList" >
		<th:block>
			<th:block th:each="recive:${reciveList}">
				<th:block th:if ="${map['empPosition'] == '팀장' and recive.receiveRefVO.appSeqStatus =='결재대기'}">
					<tr th:onclick="requestApproval([[${recive.appSeq}]],[[${recive.appCateCode}]]);">
							<td class="icon" th:text="${recive.appSeq}">@mdo</td>
							<td th:text="${recive.empVO.empName}">@mdo</td>
							<td th:text="${recive.title}">Otto</td>
							<td th:text="${recive.appCategoryVO.appCateName}">Otto</td>
							<td th:text="${recive.empVO.deptName}">Otto</td>
							<td th:text="${recive.appWriteDate}">Mark</td>
					</tr>
				</th:block>
			</th:block>
				
			<th:block th:each="recive:${reciveList}">
				<th:block th:if ="${map['empPosition'] == '부장' and recive.receiveRefVO.appSeqStatus =='결재중'} ">
					<tr th:onclick="requestApproval([[${recive.appSeq}]],[[${recive.appCateCode}]]);">
						<td class="icon" th:text="${recive.appSeq}">@mdo</td>
						<td th:text="${recive.empVO.empName}">@mdo</td>
						<td th:text="${recive.title}">Otto</td>
						<td th:text="${recive.appCategoryVO.appCateName}">Otto</td>
						<td th:text="${recive.empVO.deptName}">Otto</td>
						<td th:text="${recive.appWriteDate}">Mark</td>
				</tr>
				</th:block>
			</th:block>
		</th:block>
			</tbody>
		</table>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->
	<div>
		<h3>-- 결재 완료 --</h3>	
	</div>

	<table class="table table-hover">
			<thead>
				<tr bordercolor="sold 1px;">
					<th scope="col">문서번호</th>
					<th scope="col">기안자</th>
					<th scope="col">제목</th>
					<th scope="col">기안서</th>
					<th scope="col">기안부서</th>
					<th scope="col">기안일
				</tr>
			</thead>
			
			
			
			<tbody id="appList" >
		<th:block>
			<th:block th:each="recive:${reciveList}">
				<th:block th:if ="${map['empPosition'] == '팀장' and recive.receiveRefVO.appSeqStatus =='결재중'} ">
					<tr th:onclick="requestApproval([[${recive.appSeq}]],[[${recive.appCateCode}]]);">
							<td th:text="${recive.appSeq}">@mdo</td>
							<td th:text="${recive.empVO.empName}">@mdo</td>
							<td th:text="${recive.title}">Otto</td>
							<td th:text="${recive.appCategoryVO.appCateName}">Otto</td>
							<td th:text="${recive.empVO.deptName}">Otto</td>
							<td th:text="${recive.appWriteDate}">Mark</td>
					</tr>
				</th:block>
			</th:block>
				
			<th:block th:each="recive:${reciveList}">
				<th:block th:if ="${map['empPosition'] == '부장' and recive.receiveRefVO.appSeqStatus =='결재완료'} ">
					<tr th:onclick="requestApproval([[${recive.appSeq}]],[[${recive.appCateCode}]]);">
						<td th:text="${recive.appSeq}">@mdo</td>
						<td th:text="${recive.empVO.empName}">@mdo</td>
						<td th:text="${recive.title}">Otto</td>
						<td th:text="${recive.appCategoryVO.appCateName}">Otto</td>
						<td th:text="${recive.empVO.deptName}">Otto</td>
						<td th:text="${recive.appWriteDate}">Mark</td>
				</tr>
				</th:block>
			</th:block>
		</th:block>
			</tbody>
		</table>
	
	
	
	
	
 <!----- -------- ------ -------- -------- --------- ---------- ------ ------- --------- -----  -->
	
	<!-- 페이징 처리 -->
    <div class="row">
		<div align="center">
 
			<th:block th:if="${pageVO.prev}">
				<a th:text="prev"
					th:href="@{/approval/receiveAppPage(nowPage=${pageVO.beginPage - 1})}"></a>
			</th:block>
			<th:block
				th:each="pageNum : ${#numbers.sequence(pageVO.beginPage, pageVO.endPage)}">
				<a th:text="${pageNum}" th:href="@{/approval/receiveAppPage(nowPage=${pageNum})}"></a>
			</th:block>
			<th:block th:if="${pageVO.next}">
				<a th:text="next"
					th:href="@{/approval/receiveAppPage(nowPage=${pageVO.endPage + 1})}"></a>
			</th:block>
		</div>
	</div>   
	
	<!-- <input type="hidden" th:value="${alarmList}" id="alarmList"> -->
	<script th:inline="javascript">
		const alarmList = /*[[${alarmList}]]*/[];
		//알람

		
		for(alarmApp of alarmList){
			alarmApp.appSeq; // APP_011
			
			for(iconTag of document.querySelectorAll(".icon")) {
				console.log(iconTag.innerText);
				
				if(iconTag.innerText.indexOf( alarmApp.appSeq ) > -1) {
					iconTag.insertAdjacentHTML('beforeend',`<img  style="position:relative; z-index:1; left:-75px; top:-15px;" src="/imgs/board/icons8-동그라미-n-48.png" height="20" width="20" />`)
				}
				
			};
		}



	</script>
	
	
	
	<script type="text/javascript" th:src="@{/js/approval/request_approval.js}"></script>
</div>	
</html>